@page
@model SemestreWork.Pages.CybersportModel
@{
    ViewData["Title"] = "Cybersport";
}

<!-- main -->
<main class="main align-self-center">
    <div class="container">
        <div class="row">

            <div class="col-7">
                <div class="card">
                    <div class="card-body">

                        <h3>Ближайшие турниры в городе Казань:</h3><hr>
                                                                   <div class="mobile-table">
                                                                       
                                                                           <table class="iksweb">
                                                                               <thead>
                                                                                   <tr>
                                                                                       <th colspan="2" >Название турнира</th>
                                                                                       <th colspan="2">Призовой фонд</th>
                                                                                   </tr>
                                                                               </thead>
                                                                               <tbody>
                                                                                   @foreach (var kazan in Model.CyberList)
                                                                                   {
                                                                                       <tr>
                                                                                           <td colspan="2"><img src="~/img/noname.png">  <b>@kazan.Name</b></td>
                                                                                           <td colspan="2">@String.Format("{0:0,0}", kazan.Money)₽  </td>
                                                                                           <td>
                                                                                               <form method="post">
                                                                                                   <button type="submit" asp-page-handler="DeleteKazan" asp-route-id="@kazan.Id" style=" padding: 0;
                                                                                    border: none;
                                                                                    font: inherit;
                                                                                    color: inherit;
                                                                                    background-color: transparent;
                                                                                    color: #C0C0C0;
                                                                                    font-size: 100%;
                                                                                        ">
                                                                                                       [X]
                                                                                                   </button>
                                                                                               </form>
                                                                                           </td>
                                                                                       </tr>
                                                                                   }
                                                                               <form method="post">
                                                                                   <tr>
                                                                                       <td colspan="2" align="center">
                                                                                           <input type='text' asp-for="CyberKazan.Name" />
                                                                                           <span class="alert-danger" asp-validation-for="CyberKazan.Name"></span>
                                                                                       </td>
                                                                                       <td colspan="2" align="center">
                                                                                           <input type='number' asp-for="CyberKazan.Money" />
                                                                                           <span class="alert-danger" asp-validation-for="CyberKazan.Money"></span>
                                                                                           <button type="submit" style="width:18px; padding:3px;" asp-page-handler="Kazan">+</button>
                                                                                       </td>
                                                                                   </tr>
                                                                                  
                                                                               </form>
                                                                               </tbody>
                                                                           </table>
                                                                           <br>
                                                                           
                                                                      
                                                                   </div><br><br><br>

                        <style>
                            table.iksweb {
                                text-decoration: none;
                                border-collapse: collapse;
                                width: 100%;
                                text-align: center;
                            }

                                table.iksweb th {
                                    font-weight: 500;
                                    font-size: 18px;
                                    color: #ffffff;
                                    background-color: #354251;
                                }

                                table.iksweb td {
                                    font-size: 15px;
                                    color: #354251;
                                }

                                table.iksweb td, table.iksweb th {
                                    
                                    padding: 14px 12px;
                                    line-height: 15px;
                                    vertical-align: middle;
                                    border: 2px solid #354251;
                                }

                                table.iksweb tr:hover {
                                    background-color: #f9fafb
                                }

                                    table.iksweb tr:hover td {
                                        color: #354251;
                                        cursor: default;
                                    }

                            .mobile-table {
                                width: 100%;
                                max-width: 100%;
                                overflow-x: auto;
                            }
                        </style>

                        <h3>Ближайшие турниры в мире:</h3><hr>
                        <div class="mobile-table">
                            <table class="iksweb">
                                <thead>
                                    <tr>
                                        <th colspan="2">Название турнира</th>
                                        <th colspan="2">Призовой фонд</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var global in Model.GlobalList)
                                    {
                                        <tr>
                                            <td colspan="2"><img src="@global.Picture" width="15%">  <b>@global.Name</b></td>
                                            <td colspan="2">$@String.Format("{0:0,0}", global.Money)  </td>
                                            <td>
                                                <form method="post">
                                                    <button type="submit" asp-page-handler="DeleteGlobal" asp-route-id="@global.Id" style=" padding: 0;
                                                                                    border: none;
                                                                                    font: inherit;
                                                                                    color: inherit;
                                                                                    background-color: transparent;
                                                                                    color: #C0C0C0;
                                                                                    font-size: 100%;
                                                                                        ">
                                                        [X]
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                    <form method="post">
                                        <tr>
                                            <td colspan="2" align="center">
                                                <label>picture</label>
                                                <input type='text' asp-for="Global.Picture" />
                                                <span class="alert-danger" asp-validation-for="Global.Picture"></span>
                                                <br />
                                                <label>name</label>
                                                <input type='text' asp-for="Global.Name" />
                                                <span class="alert-danger" asp-validation-for="Global.Name"></span>
                                            </td>
                                            <td colspan="2" align="center">
                                                <input type='number' asp-for="Global.Money" />
                                                <span class="alert-danger" asp-validation-for="Global.Money"></span>
                                                <button type="submit" style="width:18px; padding:3px;" asp-page-handler="Global">+</button>
                                            </td>
                                        </tr>

                                    </form>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div><br><br>

                <div class="card">
                    <div class="card-body">
                        <h3>Топ 5 лучших команд в мире:</h3><hr>
                        <div class="mobile-table">
                            <table class="iksweb">
                                <thead>
                                    <tr>
                                        <th colspan="2">Название команды</th>
                                        <th colspan="2">Общая сумма призовых</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var team in Model.TopList)
                                    {
                                        <tr>
                                            <td colspan="2"><img src="@team.Picture" width="40%"> <hr><h3><b>@team.Name</b></h3></td>
                                            <td colspan="2">Призовые: $@String.Format("{0:0,0}", team.Money)  </td>
                                            <td>
                                                <form method="post">
                                                    <button type="submit" asp-page-handler="DeleteTop" asp-route-id="@team.Id" style=" padding: 0;
                                                                                    border: none;
                                                                                    font: inherit;
                                                                                    color: inherit;
                                                                                    background-color: transparent;
                                                                                    color: #C0C0C0;
                                                                                    font-size: 100%;
                                                                                        ">
                                                        [X]
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                    <form method="post">
                                        <tr>
                                            <td colspan="2" align="center">
                                                <label>picture</label>
                                                <input type='text' asp-for="Topteam.Picture" />
                                                <span class="alert-danger" asp-validation-for="Topteam.Picture"></span>
                                                <br />
                                                <label>name</label>
                                                <input type='text' asp-for="Topteam.Name" />
                                                <span class="alert-danger" asp-validation-for="Topteam.Name"></span>
                                            </td>
                                            <td colspan="2" align="center">
                                                <input type='number' asp-for="Topteam.Money" />
                                                <span class="alert-danger" asp-validation-for="Topteam.Money"></span>
                                                <button type="submit" style="width:18px; padding:3px;" asp-page-handler="Top">+</button>
                                            </td>
                                        </tr>

                                    </form>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-1"></div>

            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <h3>Топ 5 лучших игроков в мире:</h3><br>

                        <table class="table" style="background-color: #F5F5F5">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th colspan="3" scope="col">Игроки</th>
                                </tr>
                            </thead>
                            <tbody>

                                <!-- Player_1 Можно оставить так, а можно из БД брать инфу -->
                                <tr>
                                    <th scope="row">1</th>
                                    <th colspan="3" scope="col">
                                        <img id="Player_1" src="img/n0tail_profile.png"> <!-- К id можно присвоить картинку из БД? -->
                                        <h3>Йохан <b>N0tail</b> Сундштейн</h3> <!-- в <h3>...</h3> инфа из БД -->
                                        <p>
                                            <!-- в <p>...</p> инфа из БД -->
                                            <li>Дата рождения: 8 октября 1993 г.</li>
                                            <li>Возраст: 27</li>
                                            <li>Страна: Дания</li>
                                            <li>Текущая команда: OG</li>
                                        </p>
                                    </th>
                                </tr>

                                <!-- Далее аналогично-->
                                <!-- Player_2 Можно оставить так, а можно из БД брать инфу -->
                                <tr>
                                    <th scope="row">2</th>
                                    <th colspan="3" scope="col">
                                        <img id="Player_2" src="img/Miracle_profile.png">
                                        <h3>Амер <b>Miracle</b> Аль-Баркави</h3>
                                        <p>
                                            <!-- в <p>...</p> инфа из БД -->
                                            <li>Дата рождения: 20 июня 1997 г.</li>
                                            <li>Возраст: 23</li>
                                            <li>Страна: Иордания</li>
                                            <li>Текущая команда: Nigma</li>
                                        </p>
                                    </th>
                                </tr>

                                <!-- Player_3 Можно оставить так, а можно из БД брать инфу -->
                                <tr>
                                    <th scope="row">3</th>
                                    <th colspan="3" scope="col">
                                        <img id="Player_3" src="img/ppd_profile.png">
                                        <h3>Питер <b>ppd</b> Дагер</h3>
                                        <p>
                                            <!-- в <p>...</p> инфа из БД -->
                                            <li>Дата рождения: 2 ноября 1991 г.</li>
                                            <li>Возраст: 29</li>
                                            <li>Страна: США</li>
                                            <li>Текущая команда: Shangri-La</li>
                                        </p>
                                    </th>
                                </tr>

                                <!-- Player_4 Можно оставить так, а можно из БД брать инфу -->
                                <tr>
                                    <th scope="row">4</th>
                                    <th colspan="3" scope="col">
                                        <img id="Player_4" src="img/s4_profile.png">
                                        <h3>Густав <b>s4</b> Магнуссон</h3>
                                        <p>
                                            <!-- в <p>...</p> инфа из БД -->
                                            <li>Дата рождения: 1 апреля 1992 г.</li>
                                            <li>Возраст: 28</li>
                                            <li>Страна: Швеция</li>
                                            <li>Текущая команда: Alliance</li>
                                        </p>
                                    </th>
                                </tr>

                                <!-- Player_5 Можно оставить так, а можно из БД брать инфу -->
                                <tr>
                                    <th scope="row">5</th>
                                    <th colspan="3" scope="col">
                                        <img id="Player_5" src="img/Solo_profile.png">
                                        <h3>Алексей <b>Solo</b> Березин</h3>
                                        <p>
                                            <!-- в <p>...</p> инфа из БД -->
                                            <li>Дата рождения: 7 августа 1990 г.</li>
                                            <li>Возраст: 30</li>
                                            <li>Страна: Россия</li>
                                            <li>Текущая команда: Virtus.pro</li>
                                        </p>
                                    </th>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

