@page "{id:int}"
@model SemestreWork.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile";
}
@using SemestreWork.Models;
@using System.Linq;
<!-- main -->
<main class="main align-self-center">
    <div class="container">
        <div class="row">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="content" class="content content-full-width">

                            <!-- Profile Тут нужна логика, аватарку откуда брать, никнем юзера и т.д  -->
                            <div class="profile">
                                <div class="profile-header">
                                    <div class="profile-header-cover"></div>
                                    <div class="profile-header-content">

                                        <div class="profile-header-img">
                                            <img src="~/img/noavatar.png" alt="Your avatar"> <!-- Ну тут изначально без аватара картинка -->
                                        </div> <!-- А после редактирования профиля, можно будет загрузить аватар -->

                                        <div class="profile-header-info">
                                            <h2 class="m-t-10 m-b-5">@Model.user.Nick</h2> <!-- Ну тут никнейм (псевдоним) от айдишника -->
                                            <p class="m-b-10"><b>@Model.user.MMR</b>, любимый герой: <b>@Model.user.Hero</b></p> <!-- Тут инфа, которую указал юзер при регистрации -->
                                            <a data-toggle="modal" data-target="#ModalEdit" class="btn btn-sm btn-info mb-2" style="width: auto;">
                                                Редактировать профиль
                                            </a>
                                        </div>

                                    </div>
                                    <ul class="profile-header-tab nav nav-tabs" style="background-image: url(/img/v2QsDef.jpeg); background-repeat: no-repeat;background-size: 100% 100%;">
                                        <li class="nav-item">
                                            <div style="font-size: 18px;"><h2 style="color:white;">Посты:</h2></div>
                                            <form method="post">

                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="panel">
                                                                <div class="panel-body">

                                                                    <div class="col-md-12" style="margin-top:15px;">
                                                                        <label asp-for="userPost.Text" style="font-weight:bold;"></label>
                                                                        <textarea style="width:400px;" type='text' class='form-control' asp-for="userPost.Text"></textarea>
                                                                        <span class="alert-danger" asp-validation-for="userPost.Text"></span>
                                                                    </div>
                                                                    <div class="col-md-12" style="margin-top:15px;">
                                                                        <label asp-for="userPost.Picture" style="font-weight:bold;"></label>
                                                                        <input type='text' class='form-control' asp-for="userPost.Picture">
                                                                        <span class="alert-danger" asp-validation-for="userPost.Picture"></span>
                                                                    </div>


                                                                    <div class="text-center col-md-12" style="margin-top:35px;">
                                                                        <button class="btn btn-primary btn-sx" type="submit"><i class="glyphicon glyphicon-plus"></i> Post </button>

                                                                    </div>
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </div>
<hr>

                            <!-- Profile content -->
                            <div class="profile-content" style="margin-top: 2rem;">
                                <div class="tab-content p-0">
                                    <div class="tab-pane fade active show" id="profile-post">
                                   
                                        <ul class="timeline">
                                            @foreach (UserPosts myPost in Model.userPostsList)
                                            {
                                                <li>
                                                    <div class="timeline-time">
                                                        <span class="date">@myPost.Time.ToString("M")</span> <!-- Нужна логика для даты -->
                                                        <span class="time">@myPost.Time.ToString("T")</span> <!-- Нужна логика для времени -->
                                                    </div>
                                                    <div class="timeline-icon">
                                                        <a href="javascript:;">&nbsp;</a>
                                                    </div>
                                                    <div class="timeline-body">
                                                        <div class="timeline-header">
                                                            <span class="userimage">
                                                                <img src="~/img/noavatar.png" alt="Your avatar">
                                                            </span>
                                                            <span class="username">
                                                                <a href="javascript:;"><h4>@Model.user.Nick</h4></a> <!-- Ну тут никнейм (псевдоним) от айдишника -->
                                                                <small></small>
                                                            </span>
                                                        </div>
                                                        <div class="timeline-content">
                                                            <p style="font-size: 18px">
                                                                <b>@myPost.Text</b> 
                                                            </p>
                                                        </div>

                                                        <!-- Количество лайков и комментариев поста -->
                                                        <div class="timeline-likes">
                                                            <div class="stats-right" style="font-size: 15px">
                                                                <span class="stats-text"><h5><b>Комментарии:</b></h5></span>
                                                            </div>
                                                            <div class="stats">
                                                                <span class="fa-stack fa-fw stats-icon">
                                                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                                    <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                                                </span>
                                                                <span class="fa-stack fa-fw stats-icon">
                                                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                                    <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                            
                                                            </div>
                                                        </div>
                                                        @foreach (var listComments in Model.postsComments.Where(x => x.PostId == myPost.Id))
                                                        {
                                                        
                                                                
                                                                  
                                                              
                                                  
                                                    <div style="display: inline-block;">
                                                        <div class="timeline-header">
                                                            <a class="nav-link" href="~/Profile/@listComments.CreatorId" style="display: inline-block;">
                                                                <img src="~/img/noavatar.png" alt="Your avatar" width="30px;30px;" style="display: inline-block;" />
                                                                <span class="username">@listComments.CreatorName</span>
                                                            </a>
                                                        </div>
                                                        @listComments.Text
                                                       
                                                    </div>
                                                 
                                                                }
                                                                <!-- Комментарий -->
                                                                <div class="timeline-comment-box">
                                                                    <div class="user">
                                                                        <img src="~/img/noavatar.png" alt="Your avatar">
                                                                    </div>
                                                                    <div class="input">
                                                                        <form method="post">
                                                                            <div class="input-group">
                                                                                <input type="text" asp-for="comment.Text" class="form-control rounded-corner" placeholder="Напишите что-нибудь...">
                                                                                <span class="alert-danger" asp-validation-for="comment.Text"></span>
                                                                                <input type="text" asp-for="comment.PostId" value="@myPost.Id" hidden>
                                                                                <div class="input-group-btn p-l-10">
                                                                                    <button asp-page-handler="SendComment" style="margin-left: 1rem;" class="btn btn-primary f-s-12 rounded-corner" type="submit">
                                                                                        Отправить
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>

                                                            </div>
</li>

                                              
                                            }
                                            </ul>
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

